<% if issue.safe_attribute? 'assigned_to_id' %>
<p><%= form.select :assigned_to_id, ayty_principals_options_for_select(issue.ayty_assignable_users(false, true, true), issue.assigned_to, issue), :include_blank => true, :required => issue.required_attribute?('assigned_to_id') %></p>
<% end %>
